:root {
  --blue: #023f7e;
  --brightgreen: #8edd44;
  --green: #3dd866;

}

body {
  background-color: var(--blue);
  font-family: sans-serif;
}

.nav-bar{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 12px 36px;
}

.nav-bar h1{
  font-size: 30px;
}

.notif-page {
  color: white;
  padding: 15px;
}

.notif-page h1 {
  padding: 10px;
  font-size: 25px;
}

#notif-list {
  background-color: white;
  padding: 20px;
}

.notif-item {
  color: black;
  list-style-type: none;
  height: 80px;
  padding: 15px;
  border: 3px solid lightgray;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.notif-item:hover {
  border: 3px solid rgb(175, 175, 175);
}

.notif-item h3 {
  font-size: 20px;
  background-color: lightgray;
  padding: 8px 10px;
  border-radius: 10px;
}

.notif-item li {
  padding: 8px 10px;
}